:host {
  --cyan-900: oklch(39.8% 0.07 227.392);
  --cyan-700: oklch(52% 0.105 223.128);
  --cyan-500: oklch(71.5% 0.143 215.221);
  --cyan-300: oklch(86.5% 0.127 207.078);
  --cyan-gradient: linear-gradient(90deg, var(--cyan-700) 0%, var(--cyan-500) 50%, var(--cyan-300) 100%);

  --red-900: oklch(39.6% 0.141 25.723);
  --red-700: oklch(50.5% 0.213 27.518);
  --red-500: oklch(63.7% 0.237 25.331);
  --red-300: oklch(80.8% 0.114 19.571);
  --red-gradient: linear-gradient(90deg, var(--red-700) 0%, var(--red-500) 50%, var(--red-300) 100%);

  --teal-900: oklch(38.6% 0.063 188.416);
  --teal-700: oklch(51.1% 0.096 186.391);
  --teal-500: oklch(70.4% 0.14 182.503);
  --teal-300: oklch(85.5% 0.138 181.071);
  --teal-gradient: linear-gradient(90deg, var(--teal-700) 0%, var(--teal-500) 50%, var(--teal-300) 100%);

  --blue-500: oklch(62.3% 0.214 259.815);

  --gray-900: oklch(21% 0.034 264.665);
  --gray-700: oklch(37.3% 0.034 259.733);
  --gray-500: oklch(55.1% 0.027 264.364);
  --gray-300: oklch(87.2% 0.01 258.338);
  --gray-gradient: linear-gradient(90deg, var(--gray-700) 0%, var(--gray-500) 50%, var(--gray-300) 100%);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

h1 {
  font-size: 3rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}

p {
  font-size: 0.75rem;
  color: var(--gray-900);
  font-weight: lighter;
  margin: 0;
}

.content {
  width: 80%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (min-width: 768px) {
  .content {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 40%;
  }
}

.content h1 {
  margin-top: 1.75rem;
  align-self: center;
}

.content p {
  margin-top: 1rem;
  align-self: center;
}
